.home {
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
}

.socialMediaCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(256,67%,59%);
    justify-content: center; 
    color: white;
    font-family: 'DMSans-Medium';
    font-size: 10vw;
    height: 40vh;
    text-align: center;
    grid-area: div1;
    white-space: pre;
    line-height: 1;
    gap: 5vw;
}

.yellow {
    color: #FFCD6B;
}

.greyed {
    color: hsl(257,79%,83%);
    font-size: 4vw;
}

.italic {
    font-family: 'DMSans-Medium-Italic';
}

.imageWrapper {
    width: 50%;

    img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}

.stars-text-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}